body {
  background-color: lightseagreen;
}

h3 {
  color: black;
  text-align: center;
  font-size: 30px;
}

body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}